* {
  margin: 0;
  padding: 0;
}


.edit-form {
	color: white;
	width: 100%;
	padding: 10px;
}

.edit-form input{
	width: 100%;
	border: unset;
	border-bottom: 2px solid red;
	border-radius: 8px;
	color: #454747;
	height: 30px;
}

.edit-form textarea{
	width: 94%;
	margin: 10px;
}

.edit-form h2 {
	text-align: center;
	color: white;
}

@media (min-width: 800px ){
	.edit-form {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: stretch;
		align-content: space-around;
		color: white;
		width: 100%;
		padding: 10px;
	}
	
	.edit-form input{
		width: 400px;
		border: unset;
		border-bottom: 2px solid red;
		border-radius: 8px;
		color: #454747;
		height: 30px;
	}

	.edit-form textarea{
		width: 29%;
		margin: 10px;
	}
}

.container{
	margin-top: 35px;
}

.container2{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: space-between;
	width: 100%;
	margin-right: 0;
	margin-left: 0;
}

.appjs{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: space-between;
	width: 100%;
	margin-right: 0;
	margin-left: 0;
}

.container2 h2{
	margin: 10px;
	text-align: center;
	width: 100%;
	color: white;
}

.search-div{
	padding: 0 10px;
}


.search-div input{
	width: 100%;
	max-width: 400px;
	height: 39px;
	border-radius: 10px;
	border: 1px solid gray;
	margin-top: 20px;
	display: flex;
	align-items: center;
	box-shadow: rgb(184, 12, 12);
}

/* NAVBAR */

.logo{
	display: flex;
	flex-direction: row;
}

/* header */
.header {
	background-color: #fff;
	box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
	width: 100%;
  }
  .header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow:hidden;
	background-color: #fff;
  }
  .header li a {
	display: block;
	padding: 20px 20px;
	border-right: 1px solid #F4F4F4;
	text-decoration: none;
  }
  .header li a:hover,
  .header .menu-btn:hover {
	background-color: #F4F4F4;
  }
  .header .logo {
	display: block;
	float: left;
	font-size: 2em;
	padding: 5px 20px;
	text-decoration: none;
  }
  /* menu */
  .header .menu {
	clear: both;
	max-height: 0;
	transition: max-height .2s ease-out;
  }
  /* menu icon */
  .header .menu-icon {
	cursor: pointer;
	display: inline-block;
	float: right;
	padding: 28px 20px;
	position: relative;
	user-select: none;
  }
  .header .menu-icon .navicon {
	background: #333;
	display: block;
	height: 2px;
	position: relative;
	transition: background .2s ease-out;
	width: 18px;
  }
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
	background: #333;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
  }
  .header .menu-icon .navicon:before {
	top: 5px;
  }
  .header .menu-icon .navicon:after {
	top: -5px;
  }
  /* menu btn */
  .header .menu-btn {
	display: none;
  }
  .header .menu-btn:checked ~ .menu {
	max-height: 240px;
  }
  .header .menu-btn:checked ~ .menu-icon .navicon {
	background: transparent;
  }
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
	transform: rotate(-45deg);
  }
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
	transform: rotate(45deg);
  }
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
	top: 0;
  }
  /* 48em = 768px */
  @media (min-width: 48em) {
	.header ul {
		margin: 0;
		padding: 0;
		list-style: none;
		overflow: visible;
		background-color: #fff;
	  }
	.header li {
	  float: left;
	}
	.header li a {
	  padding: 20px 30px;
	}
	.header .menu {
	  clear: none;
	  float: right;
	  height: 300px;
	}
	.header .menu-icon {
	  display: none;
	}
  }


  body {
	margin: 0;
	font-family: Helvetica, sans-serif;
	background-color: #F4F4F4;
	background: linear-gradient(rgba(30, 27, 38, 0.95), rgba(30, 27, 38, 0.95)), url("https://www.desktopbackground.org/download/o/2012/08/22/440874_silent-hill-movie-dark-house-wallpapers-horror-movies-wallpapers_1024x768_h.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: repeat;
  }
  a {
	color: #000;
  }

#home-btn {
  color: white;
  text-decoration: none;
} */
  
a {
	color: #000;
}
  
/* HOME SIN LOGIN */

.logo-inicio{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.botton-login{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin-left: 50px;

}
/* LOGIN */

.form-signin {
	width: 100%;
	max-width: 420px;
	padding: 15px;
	margin: auto;
  }
  
  .body2 {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding-bottom: 20px;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
	  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
	  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  
  /* styles INPUTS*/
  
  .input-group-login {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: stretch;
	align-items: stretch;
	width: 100%;
  }
  .input-group-prepend-login {
	margin-right: -1px;
  }
  .input-group-prepend-login {
	display: -ms-flexbox;
	display: flex;
  }
  
  .input-group-login > .custom-select:not(:first-child),
  .input-group-login > .form-control-login:not(:first-child) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
  }
  .input-group-login > .custom-file,
  .input-group > .custom-select,
  .input-group-login > .form-control-login {
	position: relative;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	width: 1%;
	min-width: 0;
	margin-bottom: 0;
  }
  .mt-login {
	margin-top: 0.25rem !important;
  }
  .border-0-login {
	border: 0 !important;
  }
  .form-control-login {
	display: block;
	width: 300px;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #F0E5FD;
	border-radius: 28px 28px 28px 28px;
	-moz-border-radius: 28px 28px 28px 28px;
	-webkit-border-radius: 28px 28px 28px 28px;
	border: 0px solid #000000;
  }
  button,
  input {
	overflow: visible;
  }
  
  .input-group-text {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding: 0.375rem 0.75rem;
	height: 45px;
	margin-bottom: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	white-space: nowrap;
	border: 1px solid #ced4da;
	border-radius: 28px 0px 0px 28px;
  -moz-border-radius: 28px 0px 0px 28px;
 
  border: 0px solid #000000;
  }
  
  .input-border-none{/* eliminates the border when the input is active */
	border: 1px solid red;
	outline: none;
  }
  
  .fondo-icon {
	background: #F0E5FD;
	
  }
  .text-center {
	text-align: center;
  }

  
  /* BUTTON SIGNUP */
  .button-signup {
	display: inline-block;
	font-weight: 400;
	color: #ffffff;
	height: 45px;
	width: 300px;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	/* BORDER RADIUS */
	border-radius: 28px 28px 28px 28px;
  -moz-border-radius: 28px 28px 28px 28px;
  -webkit-border-radius: 28px 28px 28px 28px;
  border: 0px solid #000000;
  cursor: pointer;

  margin-top:20px
  }
  .fondo-color-signup {
	background: #A00836;
  }
  
  
  
  /* BUTTON SOCIAL */
  .icons-position {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  .icon-social{
	height: 50px;
	width: 50px;
	display: inline-block;
	background-color: white;
	margin: 10px;
  /* BORDER RADIUS */
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 0px solid #000000;
  
  /* SHAWDOW */
  -webkit-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
  }
/* SIGN UP */


/* BOTONES */

.boton{
	text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
		  text-align:center;
		  text-decoration: none;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	display:inline-block;
		  color: #FFF;
		  background: #7F8C8D;
		  padding: 7px 20px;
		  white-space: nowrap;
		  -webkit-border-radius: 5px;
		  -moz-border-radius: 5px;
		  border-radius: 100px;
		  margin: 10px 5px;
		  -webkit-transition: all 0.2s ease-in-out;
		  -ms-transition: all 0.2s ease-in-out;
		  -moz-transition: all 0.2s ease-in-out;
		  -o-transition: all 0.2s ease-in-out;
		  transition: all 0.2s ease-in-out;
}
 
.azul{
background: #3498DB;
box-shadow: 0px 5px 0px 0px #2980B9;
}

.azul:hover{
background: #39a0e5;
}

.azul:active{
box-shadow: 0px 2px 0px 0px #2980B9;
}
.verde{
	background: #2ECC71;
	box-shadow: 0px 5px 0px 0px #27AE60;
  }
  
  .verde:hover{
	background: #32db78;
  }
  
  .verde:active{
	box-shadow: 0px 2px 0px 0px #27AE60;
  }
  
  .rojo{
	background: #E74C3C;
	box-shadow: 0px 5px 0px 0px #C0392B;
  }
  
  .rojo:hover{
	background: #ff5242;
  }
  
  .rojo:active{
	box-shadow: 0px 2px 0px 0px #C0392B;
  }
  

/* MY PROFILE */
.title-fav{
	color: white;
	text-align: center;
}

.img-align-profile{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.h1-align{
	text-align: center;
	color: white;
}
.p-align{
	text-align: center;
	margin:10px;
	color: white;
}


.align-btn-profile{
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 40px;
	margin-top:-10px
}

/* CARDS MOVIES */

.movie_card {
	position: relative;
	display: block;
	width: 800px;
	height: 350px;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
	transition: all 0.4s;
}
.movie_card:hover {
	transform: scale(1.02);
	transition: all 0.4s;
}
.movie_card .info_section {
	position: relative;
	width: 100%;
	height: 100%;
	background-blend-mode: multiply;
	z-index: 2;
	border-radius: 10px;
}
.movie_card .info_section .movie_header {
	position: relative;
	padding: 25px;
	height: 40%;
}
.movie_card .info_section .movie_header h1 {
	color: #fff;
	font-weight: 400;
}
.movie_card .info_section .movie_header h4 {
	color: #9ac7fa;
	font-weight: 400;
}
.movie_card .info_section .movie_header .minutes {
	display: inline-block;
	margin-top: 10px;
	color: #fff;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid rgba(255, 255, 255, 0.13);
}
.movie_card .info_section .movie_header .type {
	display: inline-block;
	color: #cee4fd;
	margin-left: 10px;
}
.movie_card .info_section .movie_header .locandina {
	position: relative;
	float: left;
	margin-right: 20px;
	height: 120px;
	box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
}
.movie_card .info_section .movie_desc {
	padding: 25px;
	height: 50%;
}
.movie_card .info_section .movie_desc .text {
	color: #cfd6e1;
}
.movie_card .info_section .movie_social {
	height: 10%;
	padding-left: 15px;
	padding-bottom: 20px;
}
.movie_card .info_section .movie_social ul {
	list-style: none;
	padding: 0;
}
.movie_card .info_section .movie_social ul li {
	display: inline-block;
	color: rgba(255, 255, 255, 0.4);
	transition: color 0.3s;
	transition-delay: 0.15s;
	margin: 0 10px;
}
.movie_card .info_section .movie_social ul li:hover {
	transition: color 0.3s;
	color: rgba(255, 255, 255, 0.8);
}
.movie_card .info_section .movie_social ul li i {
	font-size: 19px;
	cursor: pointer;
}
.movie_card .blur_back {
	position: absolute;
	top: 0;
	z-index: 1;
	height: 100%;
	right: 0;
	background-size: cover;
	border-radius: 11px;
}
@media screen and (min-width: 768px) {
	.movie_header {
		width: 60%;
   }
	.movie_desc {
		width: 50%;
   }
	.info_section {
		background: linear-gradient(to right, #0d0d0c 50%, transparent 100%);
   }
	.blur_back {
		width: 80%;
		background-position: -100% 10% !important;
   }
}
@media screen and (max-width: 768px) {
	.movie_card {
		width: 95%;
		margin: 15px auto;
		min-height: 350px;
		height: auto;
   }
	.blur_back {
		width: 100%;
		background-position: 50% 50% !important;
   }
	.movie_header {
		width: 100%;
		margin-top: 85px;
   }
	.movie_desc {
		width: 100%;
   }
	.info_section {
		background: linear-gradient(to top, #141413 50%, transparent 100%);
		display: inline-grid;
   }
}
#bright {
	box-shadow: 0px 0px 150px -45px rgba(255, 51, 0, 0.5);
}
#bright:hover {
	box-shadow: 0px 0px 120px -55px rgba(255, 51, 0, 0.5);
}

#tomb {
	box-shadow: 0px 0px 150px -45px rgba(19, 160, 134, 0.6);
}
#tomb:hover {
	box-shadow: 0px 0px 120px -55px rgba(19, 160, 134, 0.6);
}
/* 
RRSS */

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

#social {
  margin: 20px 10px;
  text-align: center;
}

.smGlobalBtn { /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border:2px solid #ddd; /* add border to the buttons */
    box-shadow: 0 3px 3px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 27px;
    -moz-border-radius:27px;
	-webkit-border-radius:27px;
	margin: 5px;
}

/* facebook button class*/
.facebookBtn{
    background: #4060A5;
}

.facebookBtn:before{ /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f09a"; /* add facebook icon */
}

.facebookBtn:hover{
    color: #4060A5;
    background: #fff;
    border-color: #4060A5; /* change the border color on mouse hover */
}

/* twitter button class*/
.twitterBtn{
    background: #00ABE3;
}

.twitterBtn:before{
      font-family: "FontAwesome";
      content: "\f099"; /* add twitter icon */
      
}

.twitterBtn:hover{
      color: #00ABE3;
      background: #fff;
      border-color: #00ABE3;
}

/* google plus button class*/
.googleplusBtn{
    background: #e64522;
}

.googleplusBtn:before{
      font-family: "FontAwesome";
      content: "\f0d5"; /* add googleplus icon */
}

.googleplusBtn:hover{
      color: #e64522;
      background: #fff;
      border-color: #e64522;
}
/* pinterest button class*/
.pinterestBtn{
    background: #cb2027;
}

.pinterestBtn:before{
      font-family: "FontAwesome";
      content: "\f0d2"; /* add pinterest icon */
}

.pinterestBtn:hover{
      color: #cb2027;
      background: #fff;
      border-color: #cb2027;
}



/* STYLE CARROUSEL HOME */
/* CARDS MOST POPULAR */

 @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
 @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,300italic,400italic,600italic,700italic,800italic);

#ave {
	box-shadow: 0px 0px 150px -45px rgba(199, 147, 75, 0.7);
	margin-bottom: 200px;
}
#ave:hover {
	box-shadow: 0px 0px 120px -55px rgba(199, 147, 75, 0.7);
}

@media screen and (max-width: 500px) {
  nav {
    background: pink; 
  }
}
.title-most{
	padding: 5px;
}


/* RANDOM */
.align-random{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}
.align-img-random{
	display: flex;
	align-items: center;
	
	
}

.align-txt-random{
	text-align: justify;
	margin:8px;
	color: white;
	
	
}

.align-title-random{
	display: flex;
	align-items: center;
	flex-direction: column;
}


/* DETAILS PAGE */

.media-details{
	text-align: center;
}

.align-details1{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.align-delete{
	display:flex;
	justify-content: center;
}

.align-details{
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	color: white;
	
}

.align-details > h1 {
	color: red;	
}
.h1-color-details{
	color: white;
}

@media (min-width: 800px ){
	.align-details1{
		font-size: 30px;
	}

	.media-details{
		font-size: 25px;
		margin: 0 90px;
		padding-bottom: 30px;
	}
.rating{
	margin-left: 650px;
	display: flex;
	flex-direction: row;
}

.boton{
	width: 200px;
}

.container2{
	display:flex;
	align-items: center;
	justify-content: center;
}

.tag{
	display: flex;
	align-items: flex-end;
	margin-left: 650px;
	width: 300px;
	
}

.title3{
	font-size: 85px;
}
.likes{
	font-size: 28px;
}
.genre1{
	font-size: 21px;
}

}



/* CARRUSEL PRUEBA */
.carusel {
	background: #ddd;
	padding: 0;
	margin: 0;
	display: flex;
	height: 53vh;
	align-items: center;
	font-family: Arial;
	justify-content: center;
	overflow-x: hidden;
	width: 100%;
}
/* mixins */
/* SLIDER */
/* <-- Here you may change only slide-count, and all will be work */
#slider {
	position: relative;
	max-width: 100%;
	max-height: 432px;
	padding: 0.5%;
	background: rgba(38, 50, 56, 0.5);
}
#slider input {
	display: none;
}
/* Slider Setup */
#slider #slide1:checked ~ .slides .inner {
	margin-left: 0%;
}
#slider #slide2:checked ~ .slides .inner {
	margin-left: -100%;
}
#slider #slide3:checked ~ .slides .inner {
	margin-left: -200%;
}
#slider #slide4:checked ~ .slides .inner {
	margin-left: -300%;
}
#slider #slide5:checked ~ .slides .inner {
	margin-left: -400%;
}
#slider .overflow {
	width: 100%;
	overflow: hidden;
}
#slider .inner {
	width: 500%;
	line-height: 0;
}
#slider .slide {
	position: relative;
	width: 20%;
	float: left;
}
#slider .slide img {
	width: 100%;
}

#slider #controls {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 90%;
	box-sizing: border-box;
}
#slider #controls label {
	position: relative;
	display: none;
	width: 9%;
	padding-top: 9%;
   /* height same as width */
	border-top: 0.9vw solid #263238;
	border-left: 0.9vw solid #263238;
	opacity: 0.3;
}
#slider #controls label:hover {
	opacity: 0.8;
	cursor: pointer;
}
#slider #controls label:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	display: inline-block;
	width: 400%;
	height: 400%;
}
#slider #slide5:checked ~ #controls label:nth-child(1) {
	display: block;
	float: right;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}
#slider #slide1:checked ~ #controls label:nth-child(2) {
	display: block;
	float: right;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}
#slider #slide2:checked ~ #controls label:nth-child(3) {
	display: block;
	float: right;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}
#slider #slide3:checked ~ #controls label:nth-child(4) {
	display: block;
	float: right;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}
#slider #slide4:checked ~ #controls label:nth-child(5) {
	display: block;
	float: right;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}
#slider #slide1:checked ~ #controls label:nth-child(5) {
	display: block;
	float: left;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
#slider #slide2:checked ~ #controls label:nth-child(1) {
	display: block;
	float: left;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
#slider #slide3:checked ~ #controls label:nth-child(2) {
	display: block;
	float: left;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
#slider #slide4:checked ~ #controls label:nth-child(3) {
	display: block;
	float: left;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
#slider #slide5:checked ~ #controls label:nth-child(4) {
	display: block;
	float: left;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
#slider #active {
	position: absolute;
	bottom: 0%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
}
#slider #active label {
	display: inline-block;
	width: 3%;
	padding-top: 3%;
   /* height same as width */
	border-radius: 50%;
	margin: 1%;
	background: rgba(38, 50, 56, 0.5);
	vertical-align: middle;
}
#slider #active label:hover {
	background: rgba(38, 50, 56, 0.3);
	box-shadow: 0 0 0 0.2vw #263238;
	cursor: pointer;
}
#slider #slide1:checked ~ #active label:nth-child(1) {
	background: #263238;
	box-shadow: 0 0 0 0.2vw #263238;
}
#slider #slide2:checked ~ #active label:nth-child(2) {
	background: #263238;
	box-shadow: 0 0 0 0.2vw #263238;
}
#slider #slide3:checked ~ #active label:nth-child(3) {
	background: #263238;
	box-shadow: 0 0 0 0.2vw #263238;
}
#slider #slide4:checked ~ #active label:nth-child(4) {
	background: #263238;
	box-shadow: 0 0 0 0.2vw #263238;
}
#slider #slide5:checked ~ #active label:nth-child(5) {
	background: #263238;
	box-shadow: 0 0 0 0.2vw #263238;
}
/* Info Box */
#slider .info {
	line-height: 20px;
	position: absolute;
	top: 75%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-style: italic;
	font-size: 1rem;
	padding: 30px 30px;
	opacity: 0;
	color: #000;
	text-align: center;
}
#slider .info h3 {
	color: #333;
	margin: 0 0 5px;
	font-weight: normal;
	font-size: 1.5rem;
	font-style: normal;
}
/* Animation */
#slider {
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
#slider .inner {
	-webkit-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
	-moz-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
	-o-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
	transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
   /* easeInOutQuart */
}
#slider #controls label {
	-webkit-transition: opacity 0.2s ease-out;
	-moz-transition: opacity 0.2s ease-out;
	-o-transition: opacity 0.2s ease-out;
	transition: opacity 0.2s ease-out;
}
#slider #slide1:checked ~ .slides .inner > div:nth-child(1) .info {
	opacity: 1;
	-webkit-transition: all 1s ease-out 0.6s;
	-moz-transition: all 1s ease-out 0.6s;
	-o-transition: all 1s ease-out 0.6s;
	transition: all 1s ease-out 0.6s;
}
#slider #slide2:checked ~ .slides .inner > div:nth-child(2) .info {
	opacity: 1;
	-webkit-transition: all 1s ease-out 0.6s;
	-moz-transition: all 1s ease-out 0.6s;
	-o-transition: all 1s ease-out 0.6s;
	transition: all 1s ease-out 0.6s;
}
#slider #slide3:checked ~ .slides .inner > div:nth-child(3) .info {
	opacity: 1;
	-webkit-transition: all 1s ease-out 0.6s;
	-moz-transition: all 1s ease-out 0.6s;
	-o-transition: all 1s ease-out 0.6s;
	transition: all 1s ease-out 0.6s;
}
#slider #slide4:checked ~ .slides .inner > div:nth-child(4) .info {
	opacity: 1;
	-webkit-transition: all 1s ease-out 0.6s;
	-moz-transition: all 1s ease-out 0.6s;
	-o-transition: all 1s ease-out 0.6s;
	transition: all 1s ease-out 0.6s;
}
#slider #slide5:checked ~ .slides .inner > div:nth-child(5) .info {
	opacity: 1;
	-webkit-transition: all 1s ease-out 0.6s;
	-moz-transition: all 1s ease-out 0.6s;
	-o-transition: all 1s ease-out 0.6s;
	transition: all 1s ease-out 0.6s;
}
#slider .info, #slider #controls, #slider .slides, #slider #active, #slider #active label, #slider .info h3 {
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
@media only screen and (max-width: 500px) {
	#slider .info {
		opacity: 0 !important;
   }
}

/* NEW CARROUSEL HOME */

.contain {
  width: 100%;
}
.row {
  overflow: scroll;
  width: 100%;
}
.row__inner {
  transition: 550ms transform;
  font-size: 18px;
  white-space: wrap;
  padding-bottom: 10px;
  margin: 16px;
}
.tile {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 250px;
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center left;
}
.tile__img {
  width: 150px;
  height: 250px;
  object-fit: cover;
}
.tile__details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 10px;
  opacity: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
  transition: 450ms opacity;
}
.tile__details:after,
.tile__details:before {
  content: '';
  position: relative;
  top: 50%;
  left: 50%;
  display: #000;
}
.tile__details:after {
  margin-top: -25px;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  border: 3px solid #ecf0f1;
  line-height: 50px;
  text-align: center;
  border-radius: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1;
}
.tile__details:before {
  content: '▶';
  left: 0;
  width: 90%;
  font-size: 30px;
  margin-left: 7px;
  margin-top: -18px;
  text-align: center;
  z-index: 2;
}
.tile:hover .tile__details {
  opacity: 1;
}
.tile__title {
  position: absolute;
  bottom: 0;
  padding: 10px;
}
.row__inner:hover {
  transform: translate3d(20px, 5, 50);
}
.row__inner:hover .tile {
  opacity: 0.2;
}
.row__inner:hover .tile:hover {
  transform: scale(1.2);
  opacity: 1;
}
.tile:hover ~ .tile {
  /* transform: translate3d(10px, 0, 0); */
}

/* DETAILS PAGE */

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
 @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
 *, *:before, *:after {
	 box-sizing: border-box;
}

.backg-details{
	width: 7%;
}

 .movie-card {
	 font: 14px/22px "Lato", Arial, sans-serif;
	 color: #a9a8a3;
	 padding: 40px 0;
}

 .hero {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: space-between;
	padding-top: 40px;
	width: 100%;
	padding: 5px;
	 height: 342px;
	 margin: 0;
	 position: absolute;
	 overflow: hidden;
	 z-index: 1;
	 border-top-left-radius: 5px;
	 border-top-right-radius: 5px;
}
 .hero:before {
	 content: '';
	 width: 100%;
	 height: 100%;
	 position: absolute;
	 overflow: hidden;
	 top: 0;
	 left: 0;
	 z-index: -1;
	 transform: skewY(-2.2deg);
	 transform-origin: 0 0;
	 -webkit-backface-visibility: hidden;
}
 .cover {
	 position: relative;
	 top: 160px;
	 left: 40px;
	 z-index: 2;
}
 .details {
	 padding: 80px 0 3;
}
 .details .title1 {
	 color: white;
	 font-size: 44px;
	 margin-bottom: 13px;
	 position: relative;
}
 .details .title1 span {
	 position: absolute;
	 top: 3px;
	 margin-left: 12px;
	 background: #c4af3d;
	 border-radius: 5px;
	 color: #544c21;
	 font-size: 14px;
	 padding: 0px 4px;
}
 .details .title2 {
	 color: #c7c1ba;
	 font-size: 23px;
	 font-weight: 300;
	 margin-bottom: 15px;
}
 .details .likes {
	 margin-left: 24px;
	 color:orange;
}
 .details .likes:before {
	 content: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/icon_like.png");
	 position: relative;
	 top: 2px;
	 padding-right: 7px;
}
 .description {
	 bottom: 0px;
	 height: 200px;
	 font-size: 16px;
	 line-height: 26px;
	 color: #b1b0ac;
}
 .column1 {
	 margin-top:50px;
	 padding-left: 50px;
	 padding-top: 120px;
	 width: 220px;
	 float: left;
	 text-align: center;
}
 .tag {
	 background: white;
	 border-radius: 10px;
	 padding: 4px 8px;
	 font-size: 14px;
	 margin-right: 4px;
	 line-height: 35px;
	 cursor: pointer;
}
 .tag:hover {
	 background: #ddd;
}
 .column2 {
	padding: 10px;
    padding-top: 10px;
    /* margin-left: 20px; */
    width: 100%;
    float: left;
	 
}

 .avatars {
	 margin-top: 23px;
}
 .avatars img {
	 cursor: pointer;
}
 .avatars img:hover {
	 opacity: 0.6;
}
 .avatars a:hover {
	 text-decoration: none;
}
 fieldset, label {
	 margin: 0;
	 padding: 0;
}
/****** Style Star Rating Widget *****/
 .rating {
	 border: none;
	 float: left;
}
 .rating > input {
	 display: none;
}
 .rating > label:before {
	 margin: 5px;
	 margin-top: 0;
	 font-size: 1em;
	 font-family: FontAwesome;
	 display: inline-block;
	 content: "\f005";
}
 .rating > .half:before {
	 content: "\f089";
	 position: absolute;
}
 .rating > label {
	 color: #ddd;
	 float: right;
}
/***** CSS Magic to Highlight Stars on Hover *****/
 .rating > input:checked ~ label, .rating:not(:checked) > label:hover, .rating:not(:checked) > label:hover ~ label {
	/* show gold star when clicked */
	/* hover current star */
	 color: #ffd700;
}
/* hover previous stars in list */
 .rating > input:checked + label:hover, .rating > input:checked ~ label:hover, .rating > label:hover ~ input:checked ~ label, .rating > input:checked ~ label:hover ~ label {
	/* hover current star when changing rating */
	/* lighten current selection */
	 color: #ffed85;
}
 a[data-tooltip] {
	 position: relative;
}
 a[data-tooltip]::before, a[data-tooltip]::after {
	 position: absolute;
	 display: none;
	 opacity: 0.85;
}
 a[data-tooltip]::before {
	/* * using data-tooltip instead of title so we * don't have the real tooltip overlapping */
	 content: attr(data-tooltip);
	 background: #000;
	 color: #fff;
	 font-size: 13px;
	 padding: 5px;
	 border-radius: 5px;
	/* we don't want the text to wrap */
	 white-space: nowrap;
	 text-decoration: none;
}
 a[data-tooltip]::after {
	 width: 0;
	 height: 0;
	 border: 6px solid transparent;
	 content: '';
}
 a[data-tooltip]:hover::before, a[data-tooltip]:hover::after {
	 display: block;
}
/** positioning **/
/* top tooltip */
 a[data-tooltip][data-placement="top"]::before {
	 bottom: 100%;
	 left: 0;
	 margin-bottom: 40px;
}
 a[data-tooltip][data-placement="top"]::after {
	 border-top-color: #000;
	 border-bottom: none;
	 bottom: 50px;
	 left: 20px;
	 margin-bottom: 4px;
}
 